{
  "plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["prismjs", {
        "languages": ["stan", "markdown", "processing", "javascript", "css", "markup"],
        "plugins": ["line-numbers"],
        "theme": "funky",
        "css": true
    }],
  ],
	"presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}