
#input_file_upload {
  display: none;
}

.upload_button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  background: transparent;
}

.upload_button:hover {
  text-decoration-line: underline;
}