/**
 * add .module  like file.module.css at the end of file make something interesting but why ????
 */

.container {
  /* margin: 3rem auto; */
  /* background: yellow; */
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
  max-width: 600px;
}

.test {
  /* margin: 3rem auto; */
  font-family: Times;
  color: cyan;
  margin-left: 200px;
  max-width: 600px;
}

.gatsbyImageWrapper {
  height: 100%;
  width: 100%;
}
