.radio-label {
  /* background: magenta; */
	/* height: 40px; */
  /* font-size: 14px; */
  /* font-weight: 400; */
  /* opacity: 0.1; */
  margin-right: 7px;
  /* -webkit-tap-highlight-color: transparent; */
  /* cursor: pointer; */
}



.radio-input {
  height: 30px;
  width: 30px;
  margin: 0;
  z-index:1;
  /* visibility: collapse; */
  /* visibility: hidden; */
  /* opacity: 0.1;*/
  opacity: 0.5;
  cursor: pointer;
}

/* .radio-input:hover {
  background:magenta;
} */



.radio-input:checked + div {
	background: magenta;
}

.radio-input:checked + div:after {
	/* background: magenta; */
  /* opacity: 0; */
}

/*
position:static;
position:absolute;
 position:sticky;
position:fixed;
position:relative;
  top: -15px;
*/
.custom-radio {
  position:relative;

  z-index:0;
  bottom: 15px;
  /* left: 30px; */
  width: 30px;
  height: 30px;
  background: cyan;

}

/* .custom-radio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border: 2px solid magenta;
  border-radius: 50%;
  display: inline-block;
  position: relative;
} */

/* for inner filled circle */
/* .custom-radio::after {
  content: '';
  width: 12px;
  height: 12px;
  background: cyan;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
} */